<div class="footer">
  <div class="contacts">
    <div class="about">
      <a href="#">About Us</a>
      <a href="#">Contacts</a>
      <a href="#">Privacy</a>
    </div>
    <div class="social-media">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="address">
      <p>Veg King Europe LTD.</p>
      <p>ul. Grzybowska 80/82</p>
      <p>00-844 Warszawa</p>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2011 VegKing LTD. <br> All rights reserved.</p>
  </div>
</div>
