@import "../../scss/common-style";

.header {
  display: flex;
  justify-content: space-between;

  .logo {
    img {
      height: 40px;
      width: 220px;
      @include respond-to(tablets) {
        display: none;
      }
    }
    i {
      display: none;
      @include respond-to(tablets) {
        display: block;
        color: $brand-color-main;
        font-size: 1.7rem;
      }
    }
  }

  .languages {
    a {
      margin-left: 10px;
      font-family: 'Roboto', medium, sans-serif;
      color: darken($brand-color-secondary, 20%);
    }

    .active {
      color: $brand-color-main;
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
  @include respond-to(tablets) {
    display: block;
    margin: 20px 0;
  }

  .info {
    @include respond-to(tablets) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }

    h1 {
      font-family: 'Nunito', sans-serif;
      color: $brand-color-main;
      font-size: 2.3rem;
      font-weight: bold;
      @include respond-to(handhelds) {
        text-align: center;
        font-size: 1.6rem;
      }
    }

    p {
      margin: 25px 0;
      @include respond-to(handhelds) {
        text-align: center;
        font-size: .7rem;
        margin: 15px 0;
      }
    }
  }

  .map {
    position: relative;
    height: 450px;
    width: 450px;
    background-image: url(../../../assets/images/map.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    @include respond-to(handhelds) {
      height: 300px;
      width: 300px;
      margin: 0 auto;
    }
    @include respond-to(tablets) {
      margin: 0 auto;
    }

    .logo {
      position: absolute;
      i {
        color: #FBA512;
      }
    }

    .animate {
      transform: translateY(-20px);
      opacity: 0;
      transition: 2s ease;
    }
  }
}



