<div class="wrap">
<div class="header">
  <div class="logo">
    <img class="desktop" src="assets/images/logo.png" alt="logo-img">
    <i class="fab fa-vimeo-v media-screen"></i>
  </div>
  <div class="languages">
    <a href="#" class="active">EN</a>
    <a href="#">PL</a>
  </div>
</div>

<div class="banner">
  <div class="info">
    <h1>1000 Suppliers in 1 Place</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button class="btn">Contact</button>
  </div>
  <div appAnimateLogo class="map">
  </div>
</div>
</div>
